
@charset "utf-8";


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

button:focus {
  outline: none;
  box-shadow: none;
}




@supports (--main-color: #f5ca47) {
	:root {
		--main-color: #f5ca47;
		--sub-color: #ffffff;
		--light-color: #F5DC9B;
		--dark-color: #101820;
		--grey-color: #f1f1f1;

		--large-text: 40px;
		--semi-large-text: 30px;
		--normal-text: 24px;
		--small-text: 16px;
	}

	#__react-alert__ div div div {
		width: 400px !important;
		background-color: var(--dark-color) !important;
		color: var(--sub-color) !important;
		font-size: var(--normal-text) !important;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.03), 0 6px 20px 0 rgba(0, 0, 0, 0.07) !important;
	}

	#__react-alert__ div div div svg {
		stroke: var(--sub-color) !important;
	}



	#body{
		width: 100%;
		height: 100%;
		margin: 0;
		padding: 0;
		border: 0;
		color: var(--dark-color);
		font-size: var(--normal-text);
		vertical-align: baseline;
		font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, sans-serif;
		overflow-x: hidden;
		line-height: 1;

		display: flex;
		justify-content: center;
		align-content: center;
		flex-grow: 0;
		flex-shrink: 0;

	}

	.display_layout{
		width: 780px;
		height: 100%;
		margin: 0;
		padding: 0;
		position: relative;
		overflow: hidden;
	}

	.scroll_container{
		width: 780px;
		height: 100%;
		position: relative;
		overflow-x: hidden;
		overflow-y: scroll;
	}

	.scroll_container::-webkit-scrollbar {
	  display: none;
	}

	/*nav*/
	.sticky{
		position: fixed;
		margin: 0 auto;
		padding: 0;
		left: 0;
		right: 0;
		top: 0;
		z-index: 2000;
	}

	.nav_bar{
		background-color: var(--sub-color);
		overflow: hidden;
		-ms-overflow-style: none;
		width: 770px;
		font-size: var(--normal-text);
		padding: 25px 15px;
	}

	.nav_bar::-webkit-scrollbar {
	    display: none;
	}

	.nav_bar button{
		height: 100%;
		font-size: var(--semi-large-text);
		font-weight: 600;
		font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, sans-serif;
		line-height: 20px;
		border: 0;
		background-color: transparent;
		
	}

	.nav_bar label{
		height: 20px;
		line-height: 20px;
		vertical-align: middle;
		font-weight: 600;
	}

	/*header*/
	.header_section{
		width: 100%;
		padding-top: 50px;
	}

	.item_img_holder{
		width: 100%;
		overflow: hidden;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	#item_img{
		width: 100%;
	}

	/*item*/
	.item_title{
		padding: 20px;
	}

	.item_title h1{
		font-weight: 600;
		font-size: var(--semi-large-text);
		line-height: 50px;
		vertical-align: middle;

	}

	.item_title h6{
		font-weight: 500;
		font-size: var(--normal-text);
		line-height: 30px;
		color: var(--main-color);
		vertical-align: middle;
	}

	.detail_section{
		background-color: var(--sub-color);
	}

	.detail_title{
		font-size: var(--normal-text);
		line-height: 40px;
		width: 710px;
		height: 40px;
		padding: 15px 35px;
		font-weight: 600;

		background-color: var(--grey-color);
		color: var(--dark-color);
	}

	.detail_choice{
		background-color: var(--sub-color);
	}

	.detail_choice_item{
		font-size: var(--normal-text);
		background-color: var(--sub-color);
		border-bottom: 1px solid var(--grey-color);
		
		width: 730px;
		height: 60px;
		padding: 5px 25px;
	}

	.detail_choice_item span{
		padding-top: 20px; 
	}

	.doday_not_available{
		opacity: 0.3;
		overflow: hidden;
	}

	input[type="radio"] {
	    display:none;
	}

	input[type="radio"] + label {
		height: 40px;
	    line-height: 40px;
	    vertical-align: center;
	}

	input[type="radio"] + label span {
	    display: inline-block;
	    width: 40px;
	    height: 40px;
	    margin: 1px 10px 5px 0;
	    vertical-align: middle;
	    background: url(../image/check_box_black_line.png) center no-repeat;
	    background-size: 30px 30px;
	    cursor: pointer;
	}

	input[type="radio"]:checked + label span {
	    background: url(../image/check_box_yellow_btn.png) center no-repeat;
	    background-size: 30px 30px;
	}

	/*amount section*/
	.amount_section{
		padding: 50px 240px;
		height: 100px;
		margin-bottom: 70px;
	}

	.amount_section button{
		float: left;
		width: 100px;
		height: 100px;

		background-color: var(--main-color);
		color: white;
		border: 0;
		border-radius: 50px;
		font-size: var(--large-text);
		text-align: center;
	}

	#num{
		float: left;
		width: 100px;
		height: 100px;
		color: var(--main-color);

		font-size: var(--semi-large-text);
		line-height: 50px;
		vertical-align: middle;
		text-align: center;
		border: none;
		display: inline-block;
		padding: 0;
		margin: 0;
	}

	/* Chrome, Safari, Edge, Opera */
	input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}

	/* Firefox */
	input[type=number] {
		-moz-appearance: textfield;
	}

	/*add to cart*/
	.add_to_cart{
		border: 0;
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
		margin: 0 auto;
		height: 70px;
		width: 780px;
		padding: 10px 25px;
		background-color: var(--main-color);
		color: var(--sub-color);
		cursor: pointer;
	}

	.add_to_cart h5{
		float: left;
		font-weight: 600;
		font-size: var(--normal-text);
		vertical-align: middle;
		line-height: 50px;
	}

	.add_to_cart h6{
		float: right;
		font-weight: 600;
		font-size: var(--normal-text);
		vertical-align: middle;
		line-height: 50px;
	}

}

